<nav class='blue darken-4'>
  <div class='nav-wrapper'>
    <a href='/' class='brand-logo'>Feedback requists</a>
    <ul id='nav-mobile' class='right hide-on-med-and-down'>

      {{#if isIndex}}
        <li class='active'><a href='/'>All feedback requists</a></li>
      {{else}}
        <li><a href='/'>All</a></li>
      {{/if}}

      {{#if isCreate}}
        <li class='active'><a href='/create'>Fill feedback form</a></li>
      {{else}}
        <li><a href='/create'>Fill new</a></li>
      {{/if}}

    </ul>
  </div>
</nav>