<form action='/create' method='POST'>
  <h2>Feedback form</h2>

  <div class='input-field'>
    <input type='text' name='title' />
    <label>name*</label>

  </div>

  <div class='input-field'>
    <input type='text' name='email' />
    <label>email*</label>
  </div>

  <div class='input-field'>
    <input type='text' name='message' />
    <label>your message*</label>
  </div>

  <button type='submit' class='btn'>Send message</button>
</form>